#step1 {
  display: flex;
}
#step1 .makeStyles-root-14 {
  width: 100%;
}
#step1 .topbox {
  max-height: 300px;
  overflow: auto;
  padding: 0 10px;
}
#step1 .topbox .box .line.btn-group {
  display: flex;
}
#step1 .topbox .box .line.btn-group .percentage {
  width: 60px;
  margin: 0 10px;
}
#step1 .box {
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  flex-grow: 1;
  margin: 0 30px;
  display: inline-block;
  width: 50%;
}
#step1 .box .MuiPaper-root {
  margin: auto;
}
#step1 .box .liftline {
  width: 100%;
}
#step1 .box .line {
  color: #000;
}
#step1 .box .line p,
#step1 .box .line span {
  color: #000;
}
#step1 .box .line {
  font-size: 14px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-left: 10px;
  display: flex;
  color: #333;
}
#step1 .box .tit {
  width: 120px;
}
#step1 .box .fr {
  float: right;
}
#step1 .rightbox {
  display: flex;
  flex-direction: column;
}
#step1 .rightbox .listscroll {
  flex-grow: 1;
  overflow: auto;
  max-height: 800px;
  padding-right: 30px;
}
#step1 .rightbox span {
  color: #333;
}
/* 强制隐藏iframe弹框 */
iframe {
  display: none !important;
}
#Step2 {
  background-color: #fff;
  border-radius: 6px;
  max-width: 900px;
  margin: auto;
  width: 100%;
  padding: 30px;
}
#Step2 .formline {
  margin: 10px 0;
}
.tokenline {
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #333;
  padding: 30px 0;
}
.tokenline input {
  font-size: 18px;
  line-height: 40px;
  color: #333;
  width: 200px;
  margin: auto;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  border-radius: 6px;
}
iframe {
  display: none !important;
}
.btn-info {
  box-shadow: 0 0 0;
}
.btn-info:hover {
  box-shadow: 0 0 0;
  margin: 0;
}
#tipbox {
  position: relative;
  display: inline-block;
  top: -30px;
}
#tipbox .tipmessage.show {
  display: block;
}
#tipbox .tipmessage {
  display: none;
  position: absolute;
  left: 40px;
  font-size: 14px;
  line-height: 30px;
  padding: 10px;
  top: 0;
  width: 300px;
  background-color: #fff;
}
#step4 .btn-group {
  width: 900px;
  margin: auto;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
}
#step4 .btn-group .btn {
  flex-grow: 1;
  color: #333;
  display: block;
}
#step4 .btn-group .btn p {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 40px;
}
#step4 .btn-group .btn .btn-cta {
  color: #fff;
}
#step4 .btn-group .rightbox .fn-clear {
  overflow: hidden;
}
#step4 .btn-group .rightbox .fn-clear .fl {
  float: left;
}
#step4 .btn-group .rightbox .fn-clear .fr {
  float: right;
}
#step4 .btn-group .rightbox .fl,
#step4 .btn-group .rightbox .fr {
  width: 50%;
}
