#step1 {
  display: flex;
  justify-content: space-between;
}

#step1 .box {
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  flex-grow: 1;
  margin: 0 30px;
  /* width: 500px; */
}
#step1 .box.left {
  display: flex;
  flex: 3;
}

#step1 .box .btn-group .percentage {
  /* width: 60px; */
  /* margin: 0 10px; */
}

#step1 .box .line p,
#step1 .box .line span {
  color: $utpl;
}
#step1 .box .line {
  font-size: 14px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-left: 10px;
  display: flex;
  color: #333;
}

#step1 .box .fr {
  float: right;
}
#step1 .right {
  display: flex;
  flex-direction: column;
  flex = 2;
  width: ; 
}
#step1 .right .listscroll {
  flex: 1;
  flex-grow: 1;
  overflow: auto; 
  min-height: 200px; 
}

/* 强制隐藏iframe弹框 */
iframe {
  display: none !important;
}
#Step2 {
  background-color: #fff;
  border-radius: 6px;
  max-width: 900px;
  margin: auto;
  width: 100%;
  padding: 30px;
}
#Step2 .formline {
  margin: 10px 0;
}
.tokenline {
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #333;
  padding: 30px 0;
}
.tokenline input {
  font-size: 18px;
  line-height: 40px;
  color: #333;
  width: 200px;
  margin: auto;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  border-radius: 6px;
}
iframe {
  display: none !important;
}
#tipbox {
  position: relative;
  display: inline-block;
  top: -30px;
}
#tipbox .tipmessage.show {
  display: block;
}
#tipbox .tipmessage {
  display: none;
  position: absolute;
  left: 40px;
  font-size: 14px;
  line-height: 30px;
  padding: 10px;
  top: 0;
  width: 300px;
  background-color: #fff;
}
#step4 .btn-group {
  width: 900px;
  margin: auto;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
}
#step4 .btn-group .btn {
  flex-grow: 1;
  color: #333;
  display: block;
}
#step4 .btn-group .btn p {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 40px;
}
#step4 .btn-group .btn .btn-cta {
  color: #fff;
}
#step4 .btn-group .rightbox .fn-clear {
  overflow: hidden;
}
#step4 .btn-group .rightbox .fn-clear .fl {
  float: left;
}
#step4 .btn-group .rightbox .fn-clear .fr {
  float: right;
}
#step4 .btn-group .rightbox .fl,
#step4 .btn-group .rightbox .fr {
  width: 50%;
}
