$primaryBtn : rgb(240, 14, 169);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    /* website colours */
    --color-bg: #67e7e7;
    --color-bg-variant: #6e6eee;
    --color-primary: #fa7c7c;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fffZ;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    /* width of container will change depending on screen size, using media queries */
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    /* background-image: url(../src/assets/bg-texture.jpg); */
}

/* scroll behaviour */
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/* =============== General styles ============== */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

/* each component is wrapped in a section in its component.jsx file */
section {
    margin-top: 8rem;
}

/* each section will contain a h2 and h5 by default */
section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

/* anchor tag, color and transition */
a {
    color: var(--color-primary);
    transition: var(--transition);
}

/* each anchor tag will have a hover effect */
a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

/* buttons will have hover effect */
.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

// ======== header styling =======

header {
    background: lightblue;       
}

header button {
    background: red;
}

.contact button {
    background: blue;
}




/* ====== Media queries (medium devices AKA tablets) =========== */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/* ====== Media queries (small devices AKA mobile phones) =========== */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-top: 2rem;
    }
}