
.box{
  width: 1440px;
  height: 800px;
  margin: 30px auto;
  background: #B0FAFF;
  padding-bottom: 50px;
  border:1px solid rgb(176, 250, 255)
}
.logo{
  position: relative;
}
.echarts-for-react {
  height: 400px !important;
}
.logo .imglogo{
  z-index: 5;
  position: absolute;
  top: 8%;
  left: 2%;
  margin-top: 2%;
  margin-left: -2%;
}
.logo .imglogo2{
  position: absolute;
  top: 0%;
  left: 0%;
}
.title1{
  position: absolute;
  top: -50px;
  left: 18%;
  font-family: 'Kantumruy';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120px;
  display: flex;
  align-items: center;
  text-align: center;
}
.title2{
  position: absolute;
  top: 70px;
  left: 18%;
  font-family: 'Kantumruy';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 60px;
  align-items: center;
  color: rgba(0, 0, 0, 0.52);
}
.continer{
  margin: 0 auto;
  width: 1059px;
  height: 632px;
  background: rgba(131, 150, 205, 0.17);
  border-radius: 70px;
  position: relative;
  top: 20%;
  clear: both;
}
.continer .title{    
  position: absolute;
  width: 352px;
  height: 80px;
  left: 5%;
  top: 5%;
  color: #fff;
  font-family: 'Kantumruy';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  margin: 0;
}
.continer .button1{
  position: absolute;
  width: 341px;
  height: 130.71px;
  left: 815px;
  top: 530px;
  background: #8396CD;
  border-radius: 70px;
  left: 60%;
  top: 40%;
  cursor: pointer;
}

.active{
  background: #598e92 !important;
  border: 1px solid #fff;
}
.continer .button1 .t1{
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
}
.continer .button1 .t2{
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.continer .button2{
  position: absolute;
  width: 341px;
  height: 130.71px;
  left: 815px;
  top: 530px;
  background: #8396CD;
  border-radius: 70px;
  left: 60%;
  top: 70%;
  cursor: pointer;
}
.continer .button2 .t1{
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
}
.continer .button2 .t2{
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}
.echart{
  width: 500px;
  height: 500px;
  position: absolute;
  top: 30%;
  left: 5%;
}
