// ======= Navbar ==========
$nav-height: 100px;

nav {
    width: 100vw;
    height: $nav-height;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    width: 100vw;
    height: $nav-height;
    overflow: hidden;
    border-bottom: 1px solid $grey;
    text-align: center;
    position: relative;
    display: inline-block;
}

nav ul li {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

nav ul li a.logo {
    display: inline-block;
}

nav ul li a img {
    display: inline-block;
    width: 100%; 
    height: $nav-height;
    opacity: .6;
    transition: .6s;
    margin: auto;
}

nav ul li a img:hover {
    opacity: 1;
    transform: scale(1.5);
}

li a.expandmore:hover {
    transform: scale(2);
}

nav ul li a.tab {
    color: $white;
    margin: 8px 10vw;
    text-decoration: none;
    background-size: 20px 2px, 100% 2px, 0 2px;
    background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 1s linear, background-position 1s linear;
    opacity: .6;
    transition: .6s;
}

nav ul li a.tab:hover {
    background-image: linear-gradient($color-secondary, $color-secondary), 
                        linear-gradient($color-primary, $color-primary), 
                        linear-gradient($color-white, $color-white);
    background-size: 20px 2px, 0 2px, 100% 2px;
    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
    opacity: 1;
    transform: scale(1.5);
}

nav ul li.right {
    display: inline-block;
    text-align: right;
    position: absolute;
}

//  ========= Create page styling ===========
.row {
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.block {
    background-color: $white;
    color: $blue;
    padding: 1rem  3rem;
    margin: 6rem 8rem;
    border-radius: 0.5rem;
    justify-content: center;
}

.row.center {
    align-items: center;
}

form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

input {
    width: 100%;
}

input[type="text"], textarea {
    background-color : $grey;
    border: 4px solid $grey;
    border-radius: 8px;
}


select {
    border:0;
    background:transparent;
    height:32px;
    border:1px solid #d8d8d8;
    width:350px;
    -webkit-appearance: none;
}


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }


