// ======= Navbar ==========

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px solid $grey;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: $header-font-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-size: 20px 2px, 100% 2px, 0 2px;
    background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 1s linear, background-position 1s linear;
}

ul.topnav li a:hover:not(.active) {
    opacity: 0.8;
    background-image: linear-gradient($color-secondary, $color-secondary), 
                        linear-gradient($color-primary, $color-primary), 
                        linear-gradient($color-white, $color-white);
    background-size: 20px 2px, 0 2px, 100% 2px;
    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

ul.topnav li.right {float: right;}

.logo {
    float: left;
    width: 120px; 
    text-indent: -9999px;
    opacity: .6;
    transition: .6s;
    margin-top: -6px;
}

.logo:hover {
    opacity: 1;
    // margin-top: -11px;
    // margin-bottom: 5px;
    transform: scale(1.1);
}
.expandmore:hover {
    transform: scale(2);
}

// ======== Create Page =========


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
