// ======= Header ==========

.header {
    padding: 20px;
    text-align: center;
    font-family: $primary-fonts;
    background: $header-bg-color;
    color: $header-font-color;
    line-height: 1.7;
}

.logo {
    width: 120px; 
    text-indent: -9999px;
}

.column {
    float: left;
    width: 30%;
}
  
/* Clear floats after the columns */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
  }


  