@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

// ~~~~~~~~ COLOR SCHEME PALETTE ~~~~~~~~~~~~
// color-hex.com Color Palette = kuning

$red: #ff0000;
$yellow: #e5ff00;
$blue: #0000ff;
$grey: #eeeeee;
$black: #000000;
$white: #ffffff;

$theme1: $red;

$primary-fonts: 'Poppins', sans-serif;
$primary-theme: #91fff2;
$secondary-theme-color: #ffffff;
$font-color: #ffffff;
$header-font-color: #ffffff;
$header-bg-color: #8886f2;
$bg-color: #000a4b;
$color-bg-variant: #057a7c;
$color-primary: #91fff2;
$primary-button-color: #ffffff;
$color-secondary: #000a4b;
$color-primary-variant: rgba(77, 181, 255, 0.4);
$color-white: #ffffff;
$transition: all 400ms ease;
$container-width-lg: 75%;
$container-width-md: 86%;   
$container-width-sm: 90%;


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    /* website colours */
    background: $bg-color;
    background-color: $bg-color;
    font-family: $primary-fonts;
}

html {
    height: 100%;
}

body {
    font-family: $primary-fonts;
    color: $font-color;
    line-height: 1.7;
    background-image: url(../src/assets/backgrounds/bg-waves-blue-yellow.svg);
    display: flex;
    flex-direction: column;
    min-height: 100;
}

footer {
    color: $header-font-color;
    padding: 1rem;
    margin-top: auto;
    border-top: 1px solid $grey;
}

/* scroll behaviour */
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/* =============== General styles ============== */

.container {
    width: $container-width-lg;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

/* each component is wrapped in a section in its component.js file */
section {
    margin-top: 8rem;
}

/* each section will contain a h2 and h5 by default */
section > h2, section > h5 {
    text-align: center;
    color: $color-white;
}

section > h2 {
    color: $color-primary;
    margin-bottom: 3rem;
}

.text-light {
    color: $color-white;
}

/* anchor tag, color and transition */
a {
    color: $color-primary;
    transition: $transition;
}

/* each anchor tag will have a hover effect */
a:hover {
    color: $color-white;
}

.btn {
    width: max-content;
    display: inline-block;
    color: $grey;
    padding: 0.75rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid $red;
    transition: $transition;
}

/* buttons will have hover effect */
.btn:hover {
    background: $grey;
    color: $red;
    border-color: transparent;
}

.btn-primary {
    background: $grey;
    color: $blue;
    border-color: transparent;
}

.btn-cta {
    background: $red;
    color: $grey;
}
.btn-cta:hover {
    background: $yellow;
    color: red;
    border-color: transparent;
}

img {
    display: block;
    width: 50%;
    object-fit: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

//  ========= Tiles on Create page styling =========

.row {
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.block {
    background-color: $white;
    color: $blue;
    padding: 1rem  3rem;
    margin: 6rem 8rem;
    border-radius: 0.5rem;
    justify-content: center;
}

.row.center {
    align-items: center;
}

/* ====== Media queries (medium devices AKA tablets) =========== */
@media screen and (max-width: 1024px) {
    .container {
        width: $container-width-md;
    }

    section {
        margin-top: 6rem;
    }
}

/* ====== Media queries (small devices AKA mobile phones) =========== */
@media screen and (max-width: 600px) {
    .container {
        width: $container-width-sm;
    }

    section > h2 {
        margin-top: 2rem;
    }
}